/*  */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to top, #017C9D, #1A5EA5, #077294, #C87BA0),
                linear-gradient(to right, #017C9D, #1A5EA5, #5461C1, #07426C, #077294); */
                /* background: radial-gradient(circle, #017C9D, #1A5EA5, #5461C1, #07426C, #077294); */
/* border-radius: 50%; */
background: conic-gradient(from 225deg at 50% 50%, #017C9D, #1A5EA5, #5461C1, #07426C, #077294);
border-radius: 15px;

    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  
  .home {
    text-align: center;
  }