.body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #017C9D, #1A5EA5, #5461C1, #07426C, #077294),
                linear-gradient(to right, #017C9D, #1A5EA5, #5461C1, #07426C, #077294);
    background-size: 200% 200%;
    /* animation: gradientAnimation 15s ease infinite; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .home {
    text-align: center;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 200%;
    }
  }
  